{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node", "prettier"],
  "rules": {
    "no-unused-vars":"warn", 
    "react-hooks/exhaustive-deps": "off",
    "no-useless-escape":"off"
  }
}
