node_modules
package-lock.json
# cache and vercel deployment folders
.cache
.env
.vercel
.output

# api files
/build/
/public/build
/api/index.js
/api/index.js.map

# Tailwind file 
/app/styles/tailwind.css

# LOCAL PLAN 
roadmap.txt

